* {
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

body {
    background-image: url(../images/intersection.png);
    margin: 0; 
}
                                                                                  /* navbar */
ul {
    position: relative;
    background-color: #ffffff;
    list-style-type: none;
    margin: 0;
    padding: 1.8em;
    height: 19px;
    width: 100%;
    /* overflow: none; */
    border-bottom: 1px solid darkgray;
}

li {
    position: relative;
    float: right;
    right: 20%;
    align-content: center;
    margin-left: 1em;
    color: #777777;
    margin-top: 0;
}

li a {
    padding: 31px;
    width: 100%;
    text-decoration: none;
    color: inherit;
    margin-top: 0;

}

li a:hover {
    background-color: #4aaaa5;
    color: whitesmoke;
}
                                                                                /* name in heading */
h1 {
    float: left;
    position: relative;
    text-align: center;
    font-size: 30px;
    background-color: #4aaaa5;
    color: whitesmoke;
    display: block;
    padding: 22px;
    height: 32px;
    top: 0;
    left: 16%;
    margin: 0;
    overflow: hidden;
    z-index: 3;
    border-bottom: 1px solid darkgray;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

h2 {
    color: #4aaaa5;
    font-size: 35px;
    margin-left:  1em;
    margin-right: 2em;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
}

p {
    color: #777777;
    margin-left: 2em;
    margin-right: 2em;
    line-height: 2;
}

#mypic {
    height: 200px;
    width: 150px;
    margin-left: 2em;
    margin-right: 2em;
    float: left;
    
}

form {
    color: #777777;
    margin: 20px;
    
}

hr {
    margin: 2em;
}

#inputName {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;;
}

#inputEmail {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

textarea {
    width: 100%;
    height: 15em;
    margin-top: 8px;
    margin-bottom: 8px;
}

button {
    background-color: #4aaaa5;
    color: whitesmoke;
    margin: 0;
    padding: 15px;
    width: 10%;
}

.content {
    position: relative;
    /* margin-top: 30%; */
    margin: 0 auto;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    /* margin: 0 auto; */
}
.conContent {
    position: relative;
    margin-top: 30px;
    /* margin-left: 230px; */
    margin-bottom: 50px;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
    margin: 0 auto;
}

.portContent {
    position: relative;
    margin: 0 auto;
    width: 960px;
    border: 1px solid #dddddd;
    background-color: #ffffff;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    display: block;
    padding: 1.5em;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: white;
    margin: 0;
}

#conFooter {
    position: static;
    bottom: 0;
    left: 0;
    display: block;
    padding: 1.5em;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: white;
    margin-top: 150px;
}

#portFooter {
    position: static;
    padding: 1.5em;
    width: 100%;
    background-color: #666666;
    text-align: center;
    border-top: 8px solid #4aaaa5;
    color: white;
    margin-top: 15px;
}

h5 {
    padding: 0;
    margin-bottom: -35px;
    font-size: 10px;
}

#placeholder0 {
    float: left;
}

        /* navbar fixed color */
#about {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#portfolio {
    background-color: #4aaaa5;
    color: whitesmoke;
}

#contacts {
    background-color: #4aaaa5;
    color: whitesmoke;
}

.portScreenshot {
    position: relative;
    margin: 1em 0em 1em 3em;

}

.bannerName {
    position: relative;
    background-color: #4aaaa5;
    bottom: 50px;
    padding: 10px;
    height: 60px;
}

.navbar {
    margin-bottom: 30px;
}

.banner {
    position: relative;
    display: inline;
}

.text {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 56.1%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 0px;
    color: whitesmoke;
    background-color: #4aaaa5;
    text-align: center;
}

.textrps {
    position: absolute;
    margin: 0;
    bottom: 0;
    left: 56.9%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    width: 300px;
    padding: 0px;
    color: whitesmoke;
    background-color: #4aaaa5;
    text-align: center;
}

@media only screen and (max-width: 980px) {
    li {
        right: 5%;
    }
    h1 {
        left: 5%;
    }
    .content,
    .conContent {
        width: 70%;
        margin-right: 25%;
        margin-bottom: 10%;
    }

    .portContent {
        width: 668px;
        margin-left: 5%;
        margin-right: 25%;
    }

    .portScreenshot {
        margin: 1em 0em 1em 1em;
    }
    
    .text {
        left: 51.8%;
    }
    .textrps {
        left: 52.5%;
    }
    
  
}

@media only screen and (max-width: 768px) {
    .conContent,
    .content {
        width: 628px;
        margin: 0 auto;
        margin-bottom: 100px;
    }
    .portContent {
        /* width: 628px; */
        margin: 0 auto;
        /* margin-bottom: 100px; */
    }

    button {
        width: 35%;
    }


}
@media only screen and (max-width: 640px) {
    .content,
    .conContent,
    .portContent {
        text-align: center;
        width: 95%;
        margin-left: 2%;
        margin-right: 2%;
        /* margin: 1 auto; */
    }
    
    h1 {
        float: none;
        position: static;
        top: -75px;
        overflow: hidden;
        z-index: 4;
        /* display: none; */
    }

    .navbar {
        /* margin-top: ; */
    }

    li {
        /* position: relative; */
        /* right: 80%; */
       /* margin: 0 auto;  */
       float: none;
       display: inline;
       /* display: flex; */
        /* width: 100%; */
    }

    ul {
        text-align: center;
    }

    #about,
    #portfolio,
    #contacts,
    li a {
        background-color: #ffffff;
        color: inherit;
        padding: 20px;
    }

    form {
        position: relative;
    }

    button {
        /* position: absolute; */
        width: 30%;
        /* float: left; */
        display: inline;
        margin-right: 400px;
    }
    
    .conContent {
        margin-bottom: 50px;
    }

    h2 {
       text-align: left;
    }

    li {
        border-right: 1px solid #dddddd;
    }

    li:last-child {
        border-right: none;
    }

    
}

